.img_slider{
  transition:0.5s all;
  animation-duration: 1.5s;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 2px solid black;
  background-position: center;
  background-size: cover;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
